
.b25 {
    background: #252525;
}

.b1 {
    background: #1b1b1b;
}

.bg {
    position: fixed;
    top: -4rem;
    left: -12rem;
    z-index: -1;
    opacity: 0.7;
}

.bg2 {
    position: fixed;
    bottom: -2rem;
    right: -3rem;
    z-index: -1;
    width: 9.375rem;
    opacity: 0.7;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    position: absolute;
    top: 180px;
    left: 175px;
    background-color: #fff;
    border-radius: 5px;
}

h1 {
    margin-top: 20px;
    position: absolute;
    color: #000;
    left: 207px;
    top: 80px;
    font-family: Arial, sans-serif;

}

a {
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}

h2 {
    margin-top: 20px;
    position: absolute;
    left: 45%;
    color: #fff;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;

}

h3 {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}


.logout-button {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 25px;
    background-color: #E9967A;
    color: #fff;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    width: 220px;
    height: 450px;
    margin: 10px;
    padding: 10px;
    border: 5px solid #ddd;
    border-radius: 40px;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    border-color: #000;
}

.product-details {
    margin-top: 20px;
    font-family: "Lucida Console", Monaco, monospace;
}

.product-name {
    font-weight: bold;
}

.product-price {
    color: #888;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
}

.button.edit {
    background-color: #428bca;
    color: #fff;
}

.button.delete {
    background-color: #d9534f;
    color: #fff;
}

.button.add {
    background-color: #4CAF50;
    color: #fff;
    position: absolute;
    left: 60px;
    top: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.titlepage {
    position: relative;
}
.black-bar {
background-color: #000;
height: 70px;
position: fixed;
top: 0;
left: 0;
width: 100%;
}
.form-container .btn {
background-color: #04AA6D;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}

/* The popup form - hidden by default */
.form-popup {
display: none;
position: fixed;
top: 40%;
right: 40%;
border: 3px solid #f1f1f1;
z-index: 9;
}

/* Add styles to the form container */
.form-container {
max-width: 300px;
padding: 10px;
background-color: white;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;
}
.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: background-color 1s;
}
.dashboard .dashboard-title a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    flex-grow: 0; /* Occupy remaining space */
    display: flex; /* Ensure flex behavior */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    transition: color 1s;
    overflow: visible;
    text-decoration: none;
    margin-left: 80px;
}
.dashboard:hover .dashboard-title a {
    color: black;
}

.dashboard .dashboard-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1; /* Occupy remaining space */
    transition: color 1s;
}

.dashboard .nav-links {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 60px;
}

.dashboard .nav-links a {
    color: #fff6f6;
    font-size: 16px;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
}

.dashboard .nav-links a:hover {
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 1px; /* Set the thickness of the underline */
    text-underline-offset: 5px; /* Adjust the vertical position of the underline */
    text-decoration-skip-ink: none; /* Prevent the underline from overlapping glyphs */ 
}
.dashboard .menu-icon i {
    display: flex;
    overflow: visible;
    margin-left: 20px;
    position: fixed;
    top: 41px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.dashboard:hover .menu-icon i {
    color: black;
}

.dashboard:hover .nav-links a i {
    color: black;
}

.dashboard .nav-links a:first-child {
    margin-left: auto;
}

.dashboard .nav-links a i {
    margin-right: 2px;
    margin-left: 1px;
    position: relative;
    top: 10px;
    color: white;
    display: flex;
    align-items: center;
}
.dashboard:hover {
    background-color: white;
}
