.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-right: 30px;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 2em;
}

a {
    text-decoration: none;
}

/* Styles for the buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.prod-image {
    min-width: 100px;
    max-width: 100px;
}

.product-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.menu-btn {
    position: relative;
    display: inline-block;
    margin-left: 18px;
}

.menu-btn:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 25%;
    min-width: 160px;
    background-color: black;
    z-index: 1;
}

.links {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.links:hover {
    background-color: rgb(8, 107, 46);
}

/* Updated styling for dashboard */
.dashboard {
    position: relative;
    display: flex;
}

.dashboard-title {
    margin-right: auto;
}

.nav-links {
    display: flex;
    align-items: center;
}

.menu-icon {
    margin-left: 10px;
    color: #fff;
    font-size: 24px;
}